// Specific CSS for your home-page
.slogan {

position: absolute;
width: 345px;
height: 52px;
left: 33px;
top: 191px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;

}
