.experience-show-container {
  margin: 0 auto;
}


.show-page-card {
  margin-bottom: 200px;
}

  .show-image {
    height: 70vh;
    background-size: cover;
    background-position: center;
  }

  .show-page-caption {
    margin: 8px;
  }

.footer {
  position: fixed;
  bottom: 0px;
  background: white;
  padding: 10px;
  width: 100%;
}

.book-button {
  width: 100%;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF3147;
  height: 53px;
  text-decoration: none;
  font-size: 26px;
  text-align: center;
}
