.experience-show-container {
  margin: 0 auto;
  height: 100vh;
}


.show-page-card {
  height: 100vh;

  .show-image {
    height: 75vh;
    background-size: cover;
    background-position: center;
  }

  .show-page-caption {
    height: 20vh;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  background: white;
  padding: 10px;
  width: 100%;
}

.book-button {
  width: 100%;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF3147;
  height: 53px;
  text-decoration: none;
  font-size: 26px;
  text-align: center;
}
