<div class="bookings-container">
  <h3>Your Bookings</h3>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <img src="<%= booking.experience.experience_photos.first.photo %>" alt="">
      <div class="card-product-infos">
        <h2><%= booking.experience.title%></h2>
        <p><%= booking.start_datetime %></p>
        <p><%= booking.end_datetime %></p>

      </div>
    </div>
  <% end %>
</div>


