<div class="bookings-container">
  <h3>Your Bookings</h3>
  <% @bookings.each do |booking| %>
    <div id="content">
      <div class="card-product">
        <img src="<%= booking.experience.experience_photos.first.photo %>" alt="">
        <div class="card-product-infos">
          <div class="booking-link">
            <h2><%= link_to booking.experience.title, booking_path(booking)%></h2>
          </div>
          <p>Date: August 30th</p>
          <br>
      </div>
    </div>
  <% end %>
</div>


