<div class="profile-container">

    <p><i class="fas fa-envelope"></i> You're currently logged in as:
    <br>
    <em><%= @current_user.email %></em></p>
    <hr>
    <p><i class="fas fa-home"> </i> Lives in: Seattle, WA</p>
    <p><i class="fas fa-comments"></i> Speaks: English, Gibberish, & Latin</p>
    <p><i class="fas fa-briefcase"></i> Work: Paint Drying Watcher </p>
    <hr>
   <!--  <div class="form-group">
      <label for="exampleFormControlTextarea1">About You</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ex: My name is XXXX, and I'm from XXXX. I use Leap because XXXX."></textarea>
      <br>
      <button type="submit" class="btn btn-outline-primary">Add</button>
    </div> -->
  <div class="edit-profile-btn">
    <%= link_to "Edit Profile", edit_user_registration_path  %>
  </div>

</div>
