<nav>
    <div>
      <button class="arrow left mt-1 backjs">
      <svg width="26px" height="26px" viewBox="0 0 50 80" xml:space="preserve">
      <polyline fill="none" stroke="#8F8F8F" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
      45.63,75.8 0.375,38.087 45.63,0.375 "/>
      </svg>
    </div>

    <%= image_tag("leap-logo.png", width: '65') %>

      <ul class="nav-links">
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Profile', user_path(current_user) %>
          <% else %>
            <%= link_to "Log in", user_session_path %>
          <% end %>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
      </div>
</nav>
