<div class="background"
    style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url(<%= image_path('leap_background.jpg') %>);">

  <div class="hp-container">
    <div class="logo">
      <%= link_to root_path do  %>
        <%= image_tag("leap-logo.png", width: '100') %>
      <% end %>
    </div>
    <!-- space -->
    <div class="slogan">
      <h1>Love Your Layover</h1>
    </div>
    <div class="search-block">
      <%= render  'experiences/search_form'%>
    </div>
  </div>
</div>


     <!--  <input type="text" placeholder="Select Your Airport" class="search-bar">
      <%#= link_to "Search", "#", class: "primary-button" %> -->
