<div class="background"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('leap_background.jpeg') %>);">
  <div class="hp-container">
    <!-- space -->
    <h1 class="slogan">Love Your Layover</h1>

    <div class="search-block">
      <input type="text" placeholder="Select Your Airport" class="search-bar">
      <%= link_to "Search", "#", class: "primary-button" %>
    </div>
  </div>

</div>
