.avatar {
  width: 40px;
  border-radius: 50%;
}

// @media screen and (max-width: 600px) {
//   .avatar {
//     height: auto;
//     width: 40px;
//     border-radius: 50%;
//   }
// }

@media only screen and (min-width: 375px) and (max-width: 767px) {
 /* Your Styles... */
 .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}
