.primary-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF3147;
  transition: background 0.3s ease;
  width: 382px;
  height: 53px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-family: Roboto;
  border: 0px;
}
