.car-container {
  margin: 0px auto;
  width: 95%;
  margin-top: 40px;
}

.experiences-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.experiences-header h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
  font-family: Roboto;
}

.experiences-header h6 {
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
  font-style: normal;
}

.experiences-subheader {
  margin-top: 10px;
}

.experiences-subheader h6 {
  margin-left: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 30px;
}


.horizontal-scrolling-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: -8px;
  background-color: white;

  .card-small {
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 178px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-right: 10px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.vertical-scrolling-card-container {
  margin-top: 20px;
}

.card-big {
  height: 380px;
  width: 100%;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.card-big i {
    margin-right: 5px;
}
  .card-image img {
    height: calc(380px - 134px);
    object-fit: cover;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(49, 69, 242, 0.21) 100%);
  }

  .card-caption{
    padding: 12px;
    height: 30%;
    // text-align: center;
    color: black;
    background-color: white;
    overflow-wrap: break-word;
    border-radius: 5px;
  }
  .card-caption-top {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .card-caption-top a {
    color: black;
    text-decoration: none;
  }

  .card-caption-top a:hover {
    color: #f67280;
    text-decoration: none;
  }

  .card-caption-middle {
    font-size: 10px;
    color: black;
  }
  .card-caption-bottom {
    display: flex;
    padding-right: 50px;
    font-size: 16px;
    margin-bottom: 4px;
    color: black;
  }
  .card-caption-top .link-show {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

.small-margin-right {
  margin-right: 5px;
}

.small-margin-bottom {
    margin-bottom: 16px;
    margin-top: 4px;
}

.reviews {
  display: flex;
  color: grey;
}

.reviews p {
  margin-left: 10px;
  font-family: Roboto;
  margin-bottom: 0px;
}

.show-rating {
  font-size: 12px;
}

.card-caption-flex {
  display:flex;
  justify-content: space-between;
}
.small-margin-left {
  margin-right: 2px;
  align-items: center;
}

.fa-paper-plane {
  text-decoration: none;
}
