.experiences-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  margin-top: 60px;
}

.experiences-subheader {
}

.horizontal-scrolling-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 2px;
  background-color: white;

  .card-small {
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 178px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-right: 10px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.vertical-scrolling-card-container {
  margin-top: 20px;
  margin: 2px;

  .card-big {
    // margin-bottom: 100px;
    // margin-right: 10px;
    height: 380px;
    width: 100%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }


  .card-image {
    height: 70%;
    background-size: cover;
    background-position: center;
  }
  .card-caption{
    padding: 10px;
    height: 30%;
    text-align: center;
    color: black;
    background-color: white;
    overflow-wrap: break-word;
  }
  .card-caption-top {
    display: flex;
    justify-content: space-between;
  }
  .card-caption-bottom {
    display: flex;
    padding-right: 50px;
  }
}

