.confirmation-container {
  display: flex;
  flex-direction: column;
}

.booking-container {
  margin: 20px;
  font-family: Roboto;
}

.confirmation-image img {
  width: 100%;
}

.confirmation-number {
  font-style: italic;
  font-weight: lighter;
  color: grey;
}
