span {cursor:pointer; }
    .number{
      margin:50px;
      justify-content: center;
    }

.minus {
      width:40px;
      height:40px;
      margin: 10px;
      background:#6C5B7B;
      border-radius:50px;
      padding:1px 5px 8px 5px;
      border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 25px;
      color: white;
}

.plus{
      width:40px;
      height:40px;
      margin: 10px;
      background:#FF3147;
      border-radius:50px;
      padding:1px 5px 8px 5px;
      border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 25px;
      color: white;
}
    input{
      height:34px;
      width: 50px;
      text-align: center;
      border:0px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      font-size: 22px !important;
      font-weight: bold !important;
}

.passenger-counter h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
}

.filter-container h2 {
  text-align: center;
  font-size: 32px !important;
  font-weight: bold !important;
  line-height: 37px;

}

.slider-1 h3 {
  font-size: 22px !important;
  font-weight: bold !important;
  line-height: 26px;
}

.slider-2 h3 {
  font-size: 22px !important;
  font-weight: bold !important;
  line-height: 26px;
}
