span {cursor:pointer; }
    .number{
      margin:50px;
      justify-content: center;
    }

.minus {
      width:40px;
      height:40px;
      margin: 0px;
      background:#6C5B7B;
      border-radius:50px;
      padding:1px 5px 8px 5px;
      border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 25px;
      color: white;
}

.plus{
      width:40px;
      height:40px;
      margin: 0px;
      background:#FF3147;
      border-radius:50px;
      padding:1px 5px 8px 5px;
      border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: 25px;
      color: white;
}
    input, .my-auto {
      text-align: center;
      border:0px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      font-size: 22px !important;
      font-weight: bold !important;
}

#myRange {
      height:1px;
      text-align: center;
      border:2px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      font-size: 22px !important;
      font-weight: bold !important;
}

#myRange2 {
      height:1px;
      text-align: center;
      border:2px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      font-size: 22px !important;
      font-weight: bold !important;
}

.page-container {
  margin: 0 auto;
  width: 90%;
}

.slider-container {
  margin-top: 40px;
}

.filter-container {
  height: 85.7vh;
}

.search-button {
  position: sticky;
  bottom: 20px;
  width: 100%;
}

.passenger-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passanger-counter-header h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.filter-container h2 {
  text-align: center;
  font-size: 32px !important;
  font-weight: bold !important;
  line-height: 37px;
  margin-top: 40px;

}

.slider-1 h3 {
  font-size: 22px !important;
  font-weight: bold !important;
  line-height: 26px;
  margin-top: 40px;
}

.slider-2 h3 {
  font-size: 22px !important;
  font-weight: bold !important;
  line-height: 26px;
  margin-top: 40px;
}

