.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: stocky;
  top: 0;
}

.navbar-lewagon a {
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
  margin: 10px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent !important;
    border-radius: 0px;
}

.arrow {
  background: transparent !important;
  border: 0px;
}
