.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: stocky;
  top: 0;
}

.navbar-lewagon a {
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
  margin: 10px;
}
