.payment-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.summary {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#steps {
  font-size: 12px;
  font-weight: lighter;
}

#summary-title {
  font-style: italic;
  color: #FF3147;
}

.payment-button {
  position: sticky;
  bottom: 20px;
}

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #FF3147 !important;
  background-image: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  background: #FF3147;
  height: 53px;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  font-family: Roboto;
  border: 0px;
  width: 100%;
}

.summary h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00FF00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00FF00;
}

input:checked + .slider:before {
  transform: translateX(52px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#box {
  padding-top:50px;
}

.heading {
  font-size:40px;
  font-weight:bold;
  font-family:Impact, Serif;
}

body {
  background-color: white;
}

.centereddiv {
  padding-top:20px;
}

.subtitle {
  padding-top:20px;
  font-family:Times, Serif;
  font-size:40px;
}

